<% include header-admin %>

  <form class="form">
    <p >
       <label class="label" for="sabor">Sabor:</label>
        <input class="input" type="text" id="sabor" />
    </p>

    <p >
        <label  class="label" for="ingredientes">Ingredientes:</label>
        <textarea class="textarea" id="ingredientes"></textarea>
    </p>
    <button type="submit">criar pizza</button>
  </form>


<% include footer %>
