<html>
<head>
  <title>pagina home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Responsavel pelo layout dos dispositivos notebook edesktop-->
  <link rel="stylesheet" href="/bootstrap/bootstrap.min.css" type="text/css"  >
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.js" type="text/css" >
    <link type="text/css" rel="stylesheet" href="style1.css"
      media="screen and (max-device-width: 768px)"/>

  </head>
<body>
  <div class="container-fluid">
    <header >
  <nav class=" navbar navbar-expand-sm bg-danger navbar-dark ">

        <div class="nav-toggle" id="bt-sanduiche">
        <label class="hamburger">
           <span></span>
           <span></span>
           <span></span>
        </label>
        </div>

       <ul class="nav navbar-nav lista-mobile">
        <li class="nav-item lista-mobile-item">
          <a  href="index" class="text-white nav-link"> HOME</a>
        </li>
        <li class="nav-item lista-mobile-item">
          <a  href="index" class="text-white nav-link">PIZZA</a>
        </li>
        <li class="nav-item lista-mobile-item">
          <a href="#"class="text-white nav-link">CONTATO</a>
        </li>
        <li class="nav-item lista-mobile-item">
          <a href="login" class="text-white nav-link">LOGIN</a>
        </li>
      </ul>


    </nav>
    </header>
