<html>
<head>
  <title>pagina home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/bootstrap/bootstrap.min.css" type="text/css">

        <!--
        <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
        -->
  <link type="text/css" rel="stylesheet" href="style1.css" />

  </head>
<body>
  <div class="container-fluid">
    <header class="bg-danger">
    <nav class="">
      <h1>Minha lanchonete</h1>
      <ul class="lanchonete-lista1">
        <li>
          <a href="/meucardapio">MEU CARDÁPIO</a>
        </li>
        <li>
        MODIFICAR CARDÁPIO
        </li>
        <li>
          <a href="/sair">SAIR</a>
        </li>
      </ul>
    </nav>
    </header>
