<% include header %>

    <section>
      <ul class="list-group">

        <li class="list-group-item list-group-item-action">
            <a href="sabores-pizza"><img  class="card-text" src="pizza2.png" alt="não exibiu" width="20%">

            </a>
         </li>
         <li class="list-group-item list-group-item-action">
               <img  class="card-text" src="cachorro.jpg" alt="não exibiu" width="20%">
            
          </li>

      </ul>

    </section>

    <% include footer %>
