<% include header %>
<section>
  <ul class="list-group">
    <li class="list-group-item list-group-item-action">
      <dl>
        <dt>
          <img  class="card-text" src="pizza2.png" alt="não exibiu" width="20%">
          Mussarela
        </dt>
        <dd>
          queijo Mussarela, tomate e orégano.
        </dd>
    </dl>
      R$ 20,00
     </li>
     <li class="list-group-item list-group-item-action">
        <dl>
          <dt>
             <img  class="card-text" src="pizza2.png" alt="não exibiu" width="20%">
            Marguerita
          </dt>
          <dd>
             Mussarela, rodelas de tomate, manjericão e parmesão ralado.
          </dd>
        </dl>
          R$ 20,00
      </li>
      <li class="list-group-item list-group-item-action">
        <dl>
          <dt>
            <img  class="card-text" src="pizza2.png" alt="não exibiu" width="20%">
            Portuguesa
          </dt>
          <dd>
               Presunto, cebola, ovos cozidos e azeitonas pretas.
          </dd>
        </dl>
             R$ 20,00
       </li>
       <li class="list-group-item list-group-item-action">
          <dl>
            <dt>
              <img  class="card-text" src="pizza2.png" alt="não exibiu" width="20%">
             Napolitana
            </dt>
            <dd>
              Mussarela, rodelas de tomate, molho de tomate e parmesão ralado.
            </dd>
          </dl>
              R$ 20,00
        </li>
        <li class="list-group-item list-group-item-action">
             <dl>
               <dt>
                 <img  class="card-text" src="pizza2.png" alt="não exibiu" width="20%">
                 Calabresa
               </dt>
               <dd>
                  Linguiça calabresa, cebola e azeitonas pretas.
               </dd>
             </dl>
              R$ 20,00
         </li>
  </ul>

</section>

<% include footer %>
