<html>
<head>
  <title>pagina home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Responsavel pelo layout dos dispositivos notebook edesktop-->
  <link rel="stylesheet" href="/bootstrap/bootstrap.min.css" type="text/css"
  media="screen and (min-width: 768px)">
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.js" type="text/css">
    <link type="text/css" rel="stylesheet" href="style1.css"
      media="screen and (max-width: 768px)"/>

  </head>
<body>
  <div class="container-fluid">
    <header >
    <nav class="lanchonete-frente navbar navbar-expand-sm bg-danger navbar-dark">
      <h1 class="navbar-brand">Minha lanchonete</h1>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="index" class="nav-link"> HOME</a>
        </li>
        <li class="nav-item">
          <a href="#"class="nav-link">CONTATO</a>
        </li>
        <li class="nav-item">
          <a href="login" class="nav-link">LOGIN</a>
        </li>
      </ul>
    </nav>
    </header>
